<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:replace="${title}">레이아웃 타이틀</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="../boards/boards.html" th:href="@{/boards}" class="nav-link px-2 link-secondary">Home</a></li>
            <!--<li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>-->
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" th:text="#{button.login}">Login</button>
            <button type="button" class="btn btn-primary" th:text="#{button.sign-up}">Sign-up</button>
        </div>
    </header>

    <div th:replace="${content}">
        <p>레이아웃 컨텐츠</p>
    </div>

    <footer class="py-3 my-4">
        <p class="text-center text-muted border-top pt-3">&copy; 2024 Company, Inc</p>
    </footer>
</div>
</body>
</html>
```