<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:replace="${title}">레이아웃 타이틀</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        @font-face {
            font-family: 'WavvePADO-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        .title {
            margin: 0;
            font-family: "WavvePADO-Regular";
        }
    </style>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="../boards/boards.html" th:href="@{/boards}" class="nav-link px-2 link-secondary">Home</a></li>
                <!--<li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">About</a></li>-->
            </ul>
        </div>
        <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <h1 class="title" th:text="#{label.main.title}">Main Title</h1>
        </div>

        <div class="col-md-3 d-flex justify-content-end">
            <th:block th:if="${session.loginMember == null}">
                <button type="button" class="btn btn-outline-primary me-2" th:text="#{button.login}"
                        onclick="location.href='../login/loginForm.html'"
                        th:onclick="|location.href='@{/login}'|">Login</button>
                <button type="button" class="btn btn-primary" th:text="#{button.sign-up}"
                        onclick="location.href='../members/joinForm.html'"
                        th:onclick="|location.href='@{/members/join}'|">Sign-up</button>
            </th:block>
            <th:block th:if="${session.loginMember != null}">
                <div class="align-self-center me-2">
                    <span th:text="#{label.hello}">Hello </span>
                    <a href="../members/memberInfo.html"
                       th:href="|@{/members/{userId}(userId=${session.loginMember?.id})}|" th:text="${session.loginMember?.username}">Username</a>
                </div>
                <form action="../boards/boards.html" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-secondary" th:text="#{button.logout}"></button>
                </form>
            </th:block>
        </div>
    </header>

    <div th:replace="${content}">
        <p>레이아웃 컨텐츠</p>
    </div>

    <footer class="py-3 my-4">
        <p class="text-center text-muted border-top pt-3">&copy; 2024 Company, Inc</p>
    </footer>
</div>
</body>
</html>