<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>메인 페이지</title>
</head>
<body>
<section>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{label.board.title}">Title Label</th>
                <th scope="col" th:text="#{label.board.username}">Username Label</th>
                <th scope="col" th:text="#{label.board.createdAt}">PostedAt Label</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <th th:text="${board.id}"></th>
                <td><a href="board.html" th:href="@{/boards/{boardId}(boardId = ${board.id})}" th:text="${board.title}">title</a></td>
                <td th:text="${board.member.username}"></td>
                <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <ul class="nav justify-content-between">
            <li class="nav-item col-md-3"></li>
            <li class="nav-item">
                <form class="d-flex" action th:action method="get">
                    <input class="form-control" type="text" name="keyword" th:value="${keyword}" placeholder="Search">
                    <button type="submit" class="btn btn-primary" th:text="#{button.search}" style="width: 5rem">Search</button>
                </form>
            </li>
            <li class="nav-item col-md-3 d-flex justify-content-end">
                <a class="btn btn-primary" href="#" th:href="@{/boards/write}"
                   role="button" th:text="#{button.write}">Write</a>
            </li>
        </ul>
    </div>
    <div>
        <div aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center mt-3">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                    <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
                </li>
            </ul>
        </div>
    </div>

</section>
</body>
</html>