<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>메인 페이지</title>
</head>
<body>
<section>
    <div class="container mt-5">
        <!-- 게시글 내용 -->
        <div class="card">
            <div class="card-header">
                <ul class="nav justify-content-between">
                    <li class="nav-item align-self-center" th:text="${board.title}">Board Title</li>
                    <li class="nav-item" th:if="${board.member.id} == ${session.loginMember?.id}">
                        <a class="btn btn-primary"
                           href="editForm.html" th:href="@{/boards/{boardId}/edit(boardId = ${board.id})}"
                           th:text="#{button.edit}" role="button">Update Board</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div id="carouselExampleDark" th:if="${!#lists.isEmpty(board.boardFiles)}" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <th:block th:each="boardFile : ${board.boardFiles}">
                                <div th:if="${boardFileStat.index} == 0" class="carousel-item active" data-bs-interval="3000">
                                    <img src="..." th:src="|/boards/images/${boardFile.storeFileName}|" class="d-block w-100" alt="...">
                                </div>
                                <div th:if="${boardFileStat.index} != 0" class="carousel-item" data-bs-interval="3000">
                                    <img src="..." th:src="|/boards/images/${boardFile.storeFileName}|" class="d-block w-100" alt="...">
                                </div>
                            </th:block>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p class="m-0" th:utext="${board.content}">게시글 내용</p>
                </div>
            </div>
            <div class="card-footer">
                <ul class="nav justify-content-between">
                    <li class="nav-item align-self-center text-muted" th:text="|작성자 ${board.member.username}|">작성자: John Doe | 작성일: 2024-04-11</li>
                    <li class="nav-item" th:if="${board.member.id} == ${session.loginMember?.id}">
                        <form action="../boards/boards.html" th:action="|@{/boards/{boardId}/delete(boardId=${board.id})}|" method="post">
                            <button type="submit" class="btn btn-danger" th:text="#{button.delete}">Delete Board</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 댓글 -->
    <div class="card mt-3">
        <div class="card-header">
            댓글
        </div>
        <ul class="list-group list-group-flush">
            <!-- 댓글 아이템 -->
            <li class="list-group-item">
                <strong>Commenter:</strong> 댓글 내용
            </li>
        </ul>
    </div>
    <!-- 댓글 작성 폼 -->
    <div class="card mt-3">
        <div class="card-header">
            댓글 작성하기
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="content">댓글 내용</label>
                <textarea class="form-control" id="content" rows="3" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="form-group mt-2">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary">댓글 작성</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

</body>
</html>