<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인 페이지</title>
</head>
<body>
<section>
    <div class="bd-example">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{label.board.title}">Title</th>
                <th scope="col" th:text="#{label.board.username}">Username</th>
                <th scope="col" th:text="#{label.board.createdAt}">PostedAt</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            <tr th:each="board : ${boards}">
                <th th:text="${board.id}"></th>
                <td th:text="${board.title}"></td>
                <td th:text="${board.content}"></td>


            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="btn btn-primary" href="#" th:href="@{/boards/write}"
                   role="button" th:text="#{button.write}">Write</a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>