<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>메인 페이지</title>
</head>
<body>
<section>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{label.board.title}">Title Label</th>
                <th scope="col" th:text="#{label.board.username}">Username Label</th>
                <th scope="col" th:text="#{label.board.createdAt}">PostedAt Label</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr th:each="board : ${boards}">
                <th th:text="${board.id}"></th>
                <td><a href="board.html" th:href="@{/boards/{boardId}(boardId = ${board.id})}" th:text="${board.title}">title</a></td>
                <td th:text="${board.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="btn btn-primary" href="#" th:href="@{/boards/write}"
                   role="button" th:text="#{button.write}">Write</a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>