<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>로그인 페이지</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 error-container">
                <div class="bordered-box">
                    <h1 th:text="#{errors.header}">에러 발생!</h1>
                    <p th:text="#{errors.body.4xx}">죄송합니다, 요청하신 페이지를 찾을 수 없습니다.</p>
                    <a href="메인홈페이지주소" th:href="@{/boards}" class="btn btn-primary" th:text="#{button.href.home}">메인 홈페이지로 이동</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>